table {
    font-family: Roboto, sans-serif;
    font-size: 25px;
    background-color: white;
    color: brown;
}

td {
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
}

tr:nth-child(even) td:nth-child(odd) {
    background-color: black;
}

tr:nth-child(odd) td:nth-child(even) {
    background-color: black;
}

tr:last-child td:nth-child(odd),
tr:first-child td:nth-child(even){
    background-color: white;
}

tr:nth-child(even) td:first-child{
    background-color: white;
}

tr:nth-child(odd) td:last-child{
    background-color: white;
}
